
@model IEnumerable<Victory>
@foreach (var p in Model )
{
    <div class="card">
        <div class="card-header">
            @p.EventName
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col order-last">
                        <blockquote class="blockquote mb-0">
                            <p>Бронза</p>
                            <div class="blockquote-footer">
                                @if (p.Third != null)
                                {
                                    @p.Third
                                }<cite>
                                    @if (User.IsInRole("Admins"))
                                    {
                                        <form asp-antiforgery="true" method="post" asp-page="/EditPlayer/List" asp-route-id="@p.EventId">
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button type="submit" class="btn btn-secondary" type="button">Изменить</button>
                                            </div>
                                        </form>
                                    }
                                </cite>
                            </div>
                        </blockquote>
                    </div>
                    <div class="col">
                        <blockquote class="blockquote mb-0">
                            <p>Серебро:</p>
                            <div class="blockquote-footer">
                                @if (p.Second != null)
                                {
                                    @p.Second
                                }
                            </div>
                        </blockquote>
                    </div>
                    <div class="col order-first">
                        <blockquote class="blockquote mb-0">
                            <p>Золото</p>
                            <div class="blockquote-footer">
                                @if (p.First != null)
                                {
                                    @p.First
                                }
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
